[Unit]
Description=sendalerts
After=network-online.target
Wants=network-online.target

[Service]
Slice=machine.slice
Restart=always
RestartSec=20
StartLimitInterval=10
StartLimitBurst=5

User=vagrant
Group=vagrant

ExecStart=/opt/venv/bin/python -u /opt/healthchecks/manage.py runserver 0.0.0.0:8000

PrivateDevices=true
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target